.title {
  margin: 0 0 8px;
  font-family: var(--font-primary);
  font-size: 32px;
  font-style: normal;
  line-height: 36px;
  letter-spacing: 0px;
}

.titleMedium {
  color: rgb(21 128 61);
  font-weight: 500;
}

:global(html.accent-purple) .titleMedium {
  color: rgb(147 51 234);
}

.titleBold {
  color: rgb(234 88 12);
  font-weight: 700;
}
